/* file path: how-not-to-die/src/assets/css/Dashboard.module.css */
/* Commander’s main panel */

.consoleBackground {
    background-image: url('/assets/images/SixteenNineFullLongConsole.png');
    background-size: cover;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .consoleScreen {
    position: absolute;
    top: 15%;
    left: 21.5%;
    width: 60%;
    height: 53%;
    background-color: rgba(0, 0, 0, 0.6); /* Mimics the glassy screen */
    color: #00ffe1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,255,200,0.3); /* This is just so that you can see where the container is, should be deleted once your page is complete */
  }
  