/* file path: how-not-to-die/client/src/assets/css/OnSitePersonalLog.module.css */

/* file path: how-not-to-die/client/src/assets/css/OnSitePersonalLog.module.css */

.wrapper {
    position: fixed;
    top: 6rem; 
    left: 2rem;
    z-index: 1000;
    text-align: left;
  }
  
  .createButton {
    background-color: #00ffe1;
    opacity: 0.7; 
    color: black;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;              
    font-weight: bold;
    font-family: 'Orbitron', sans-serif; 
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px #00ffe1;
    transition: box-shadow 0.3s;
    z-index: 1000;
  }
  
  
  
  .createButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ffe1;
  }
  