/* file path: how-not-to-die/client/src/assets/css/TravelAnimation.module.css */

.animationWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
  }
  
  .frameImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    animation: flicker 0.1s alternate infinite;
  }

  .planetOne {
    width: 100vw;
    height: 100vh;
    animation: planetOneAnimation 2s steps(1) forwards;
    background-size: cover;
    background-position: center;
  }  

  .fadeImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
    z-index: 2;
  }  
  
  @keyframes planetOneAnimation {
    0.0% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land1.png'); }
    2.0833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land2.png'); }
    4.1667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land3.png'); }
    6.25% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land4.png'); }
    8.3333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land5.png'); }
    10.4167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land6.png'); }
    12.5% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land7.png'); }
    14.5833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land8.png'); }
    16.6667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land9.png'); }
    18.75% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land10.png'); }
    20.8333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land11.png'); }
    22.9167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land12.png'); }
    25.0% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land13.png'); }
    27.0833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land14.png'); }
    29.1667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land15.png'); }
    31.25% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land16.png'); }
    33.3333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land17.png'); }
    35.4167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land18.png'); }
    37.5% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land19.png'); }
    39.5833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land20.png'); }
    41.6667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land21.png'); }
    43.75% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land22.png'); }
    45.8333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land23.png'); }
    47.9167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land24.png'); }
    50.0% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land25.png'); }
    52.0833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land26.png'); }
    54.1667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land27.png'); }
    56.25% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land28.png'); }
    58.3333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land29.png'); }
    60.4167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land30.png'); }
    62.5% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land31.png'); }
    64.5833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land32.png'); }
    66.6667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land33.png'); }
    68.75% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land34.png'); }
    70.8333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land35.png'); }
    72.9167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land36.png'); }
    75.0% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land37.png'); }
    77.0833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land38.png'); }
    79.1667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land39.png'); }
    81.25% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land40.png'); }
    83.3333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land41.png'); }
    85.4167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land42.png'); }
    87.5% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land43.png'); }
    89.5833% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land44.png'); }
    91.6667% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land45.png'); }
    93.75% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land46.png'); }
    95.8333% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land47.png'); }
    97.9167% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land48.png'); }
    100.0% { background-image: url('/assets/images/flight-animation/planet-one-flight/Land49.png'); }
  }
  
  .staticOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/images/static.gif'); /* or .png */
    background-size: cover;
    background-position: center;
    z-index: 9999;
    animation: fadeOutStatic 1s ease-in forwards;
    pointer-events: none;
  }
  
  @keyframes fadeOutStatic {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  